<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" type="text/css" href="../styles/article.css">
</head>

<body>
    <header>
        <%- include('../partials/header') %> 
    </header>
    <div id="overlay"></div>
    <article>
        <div class="article-header">
            <div class="background-img" style=" background-image: url('<%= article.image %>');">
            </div>
            <h1 class="article-title"><%= article.title %></h1>
        </div>
        <div class="article-text"><%- article.sanitizedHtml %></div>
            <div class="author-container">
                <div class="author">
                    <div class="line"></div><a href="#"><%= article.author %></a>
                </div>
            </div>
    </article>
    <footer>
      <%- include('../partials/footer') %> 
    </footer>

</body>

</html>